body {
  padding: 64px;
}

.box {
  width: 100px;
  height: 100px;
  background: orange;

  /* 変化の途中 */
  transition-property: transform;
  transition-duration: 1s;
  /* 回転軸の指定 */
  transform-origin: top left;
}

/* 変化後 */
.box:hover {
  /* translate は影響しない */
  /* transform: translate(50px, 20px); */

  /* transform: rotate(30deg); */
  transform: scale(.5,2);
}